<?xml version="1.0" encoding="UTF-8"?>
<!-- Cấu hình cho hosting Windows / IIS (Plesk) -->
<configuration>
  <system.webServer>
    <defaultDocument>
      <files><clear /><add value="index.php" /></files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="app" />
          <add segment="storage" />
          <add segment="tools" />
          <add segment=".git" />
          <add segment=".githooks" />
        </hiddenSegments>
        <fileExtensions>
          <add fileExtension=".sqlite" allowed="false" />
          <add fileExtension=".db" allowed="false" />
          <add fileExtension=".ini" allowed="false" />
          <add fileExtension=".md" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".wasm" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".pfb" />
      <mimeMap fileExtension=".pfb" mimeType="application/octet-stream" />
      <remove fileExtension=".icc" />
      <mimeMap fileExtension=".icc" mimeType="application/octet-stream" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
